.header {
  width: 100%;
  height: 120px;
  background-color: #282828;
  display: flex;
  justify-content: space-around;
  justify-content: flex-start;
}

.logo-box {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2em;
}

.menu-box {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menus {
  color: #ffffff;
  font-size: 20px;
}

@media screen and (max-width: 812px) {
  .menu-box {
    display: none;
  }   
}

.content {
  font-size: 30px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.headImage-box {
  height: 1200px;
  width: 100%;
  background-color:#333333;
}

.headImage-h1{
  text-transform: uppercase, bold;
  color: #ffffff;
  font-size: 130px;
  display: flex;
  justify-content: center;
}

.logoImage-box{
  margin: 2%;
  display: flex;
  justify-content: center;
}

